@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

/*
#id
.class
*/

:root {
	--base0: transparent;
	--lightBase1: #192824;
	--lightAccent1: #22D2A0;
	--lightAccent2: #FFD913;
	--lightAccent3: #FF9C55;
	--fontFamily1: Titillium Web, sans-serif;
	--borderSize: 3px;
	--navBarWidth: 5em;
	--gap: 1em;
	--headerHeight: 75px;
	--footerHeight: 30px;
}

html {
	color: var(--lightAccent1);
	background-color: var(--lightBase1);
	font-family: var(--fontFamily1);
}

body {
	height: calc(100vh - var(--footerHeight));
}

.grid-container {
	display: grid;
	gap: var(--gap);
	grid-template-columns: 0fr 1fr;
}

.header {
	align-items: center;
	align-self: center;
	display: flex;
	height: var(--headerHeight);
}

	.header svg {
		height: 2em;
		margin-top: 0.5em;
	}

footer {
	background-color: var(--lightBase1);
	bottom: 0;
	height: var(--footerHeight);
	position: fixed;
	width: 100vw;
}

.footer {
	font-size: 9pt;
	text-align: center;
	margin-top: calc(calc(var(--footerHeight) / 2) - 0.5em);
}

a {
	color: var(--lightAccent3);
	font-weight: bold;
	text-decoration: none;
}

	a:hover {
		color: var(--lightAccent2);
	}

.navbar {
	height: inherit;
	overflow: hidden;
	text-align: center;
	width: var(--navBarWidth);
}

	.navbar a {
		border: var(--borderSize) solid var(--lightAccent1);
		color: var(--lightAccent1);
		display: block;
		padding: 14px 16px;
		margin-bottom: calc(var(--borderSize) * -1);
	}

		.navbar a:hover {
			color: var(--lightAccent2);
		}

#pagearea {
	height: calc(100vh - var(--headerHeight) - var(--footerHeight));
	overflow-y: auto;
}
