$font1: "Source Sans 3", sans-serif;
$font2: $font1;
$font3: "Aleo", serif;
$fontA11y: "Open Dyslexic", serif;
$fontHeaderVUs: 3;
$fontFooterVUs: 2;
$fontMenuVUs: 2.75;
$fontContentVUs: 2.75;
$fontIconsVUs: 3;
$flyoutClosedSize: 6em;
$flyoutInterval: 0.5s;
$flyoutControlsHeight: 80px;
$mobileBreakpoint: 1000px;
$textColor1: #ffffff;
$textColor2: #dde1ec;
$largeScreenDimension: 999px;
$linkColor1: #ffffff;
$linkHoverColor1: #b4b4b4;
$linkColor2: #a3a3a3;
$linkHoverColor2: #ffffff;
$paddingContent: 10vw;
$paddingControls: 5vw;
$paddingMenu: 2vh;
$paddingMainMenu: 6vh;

@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@mixin _portrait {
	@media (orientation: portrait) and (max-width: (#{$mobileBreakpoint} - 1)) {
		@content;
	}
}

@mixin _landscape {
	@media (orientation: landscape) and (max-width: (#{$mobileBreakpoint} - 1)) {
		@content;
	}
}

@mixin _desktop-wide {
	@media (min-width: $mobileBreakpoint) {
		@content;
	}
}

@mixin _desktop-tall {
	@media (min-height: $mobileBreakpoint) and (min-width: $mobileBreakpoint) {
		@content;
	}
}

@mixin backgroundImage($url) {
	background: url($url) no-repeat center center fixed;
	background-size: cover;
}

@mixin portrait {
	@media (orientation: portrait) {
		@content;
	}
}

@mixin fadeInAnimation($seconds: 1) {
	animation: fadeIn #{$seconds} + "s";
}

@mixin flexRow {
	display: flex;
}

@mixin flexColumn {
	display: flex;
	flex-direction: column;
}

@mixin flexRowAlign($x: center, $y: center) {
	@include flexRow;
	align-items: $y;
	justify-content: $x;
}

@mixin flexColumnAlign($x: center, $y: center) {
	@include flexColumn;
	align-items: $x;
	justify-content: $y;
}

@mixin fontSize($viewport-units, $min: 16px, $max: 40px) {
	@include _portrait{
		font-size: max($min, min($viewport-units * 1vh, $max));
	}

	@include _landscape{
		font-size: max($min, min($viewport-units * 1vw, $max));
	}

	@include _desktop-wide {
		font-size: max($min, min($viewport-units * 0.5vw, $max));
	}

	@include _desktop-tall {
		font-size: max($min, min($viewport-units * 0.5vh, $max));
	}
}

@mixin largeDimension {
	@media only screen and (min-width: $largeScreenDimension), only screen and (min-height: $largeScreenDimension) {
		@content;
	}
}

@mixin links($color, $hover, $underline: true) {
	a:link,
	a:visited {
		color: $color;
		transition: color 0.3s ease;

		@if not $underline {
			text-decoration: none;
		}
	}

	a:hover {
		color: $hover;
	}
}

@mixin textShadow($opacity) {
	text-shadow: 1px 1px 2px rgba(0, 0, 0, $opacity);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

main {
	@include backgroundImage("../assets/USGS-1.jpg");
	@include flexColumn;
	@include textShadow(0.3);
	color: $textColor1;
	font-family: $font1;
	height: 100%;
	position: fixed;
	vertical-align: middle;
	width: 100%;
	word-wrap: break-word;

	header {
		//@include backgroundImage("../assets/USGS-1.jpg");
		@include fontSize($fontHeaderVUs);
		@include links($linkColor1, $linkHoverColor1, false);
		height: 50%;
		padding-bottom: 5px;
		padding-left: $paddingContent;
		padding-right: calc(#{$flyoutClosedSize} * 1.1);
		width: 100%;

		.main-text {
			@include flexColumnAlign(left, flex-end);
		}
	}

	svg {
		filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.3));
		height: 1em;
		margin-left: 0.1em;
		vertical-align: middle;
	}

	footer {
		@include fontSize($fontFooterVUs);
		@include links($linkColor1, $linkHoverColor1);
		//background-color: #222;
		bottom: 0;
		flex-grow: 1;
		padding-left: $paddingContent;
		padding-right: calc(#{$flyoutClosedSize} * 1.1);
		padding-top: 5px;
		width: 100%;

		.main-text {
			@include flexColumnAlign(flex-start, flex-start);
		}
	}

	.main-text {
		@include fadeInAnimation;
		height: 100%;
		user-select: none;
		width: 100%;
	}
}

#flyout {
	@include flexColumn;
	color: $textColor2;
	height: 100%;
	overflow-x: hidden;
	position: fixed;
	right: 0;
	transition: width $flyoutInterval ease-in-out;
	width: $flyoutClosedSize;

	&.open {
		width: 100%;

		#content {
			height: calc(100% - #{$flyoutControlsHeight});
			padding: $paddingContent;
		}

		#controls {
			@include flexRowAlign(flex-end);
			bottom: 0;
			height: $flyoutControlsHeight;
			padding-right: $paddingContent;
			width: 100%;
		}
	}

	#content {
		@include fadeInAnimation;
		@include flexColumn;
		@include fontSize($fontContentVUs);
		@include links($linkColor2, $linkHoverColor2);
		font-family: $font3;
		height: 100%;
		overflow-y: auto;

		blockquote {
			margin: -0.5em 0;
			padding-left: 1.25em;
			position: relative;

			&::before {
				border-left: 4px solid #a3a3a3;
				bottom: 1em;
				content: "";
				left: 0;
				position: absolute;
				top: 1em;
			}
		}

		h1, h2, h3, h4, h5, h6 {
			padding-bottom: 0.5em;
			padding-top: 0.75em;
		}

		hr {
			border: 1px solid #a3a3a3;
		}

		ol, ul {
			line-height: 2em;
			padding-left: 2em;
		}

		p {
			line-height: 2em;
			margin: 0.6em 0;
		}
	}

	#controls {
		@include links($linkColor2, $linkHoverColor2, false);
		@include textShadow(0.6);
		display: none;
		position: fixed;

		a {
			padding-left: $paddingControls;
			padding-right: $paddingControls;
		}

		#back {
			display: none;
		}

		#scroll-top {
			display: none;
		}

		.material-icons {
			@include fontSize($fontIconsVUs);
		}
	}

	.menu {
		@include fontSize($fontMenuVUs);
		@include links($linkColor2, $linkHoverColor2, false);
		@include flexColumnAlign;
		@include textShadow(0.6);
		flex-grow: 1;
		font-family: $font2;
		line-height: 1em;
		text-align: center;

		a {
			padding-bottom: calc(#{$paddingMenu} / 2);
			padding-top: calc(#{$paddingMenu} / 2);
		}
	}

	.main-menu {
		a {
			padding-bottom: calc(#{$paddingMainMenu} / 2);
			padding-top: calc(#{$paddingMainMenu} / 2);
			width: 100%;
		}
	}
}

#Aleo {
	font-family: $font3 !important;
}

#OpenDyslexic {
	font-family: $fontA11y !important;
}

#Source-Sans-3 {
	font-family: $font1 !important;
}

.a11y {
	//color: yellow !important;
	font-family: $fontA11y !important;
}

.acrylic {
	@include largeDimension {
		backdrop-filter: none;
		background: rgba(31, 32, 40, 0.95);
	}
	backdrop-filter: blur(15px) saturate(180%);
	background: rgba(31, 32, 40, 0.8);
	opacity: 1;
}
