$bgUrl: "../assets/USGS-1.jpg";
$font1: "Source Sans 3", sans-serif;
$font2: $font1;
$font3: "Aleo", serif;
$fontA11y: "Open Dyslexic", serif;
$fontSize1: 14pt; // use vw/vh + min-/max-font sizes
$fontSize2: 1em;
$fontSize3: 1em;
$fontSize4: 0.9em;
$fontSizeIcons: 2em;
$flyoutClosedSize: 20%;
$flyoutInterval: 0.5s;
$flyoutControlsHeight: 80px;
//$mobileWidth: 600px;
$textColor1: #dde1ec;
$linkColor1: #a3a3a3;
$linkColor2: #ffffff;
$paddingContent: 10vw;
$paddingControls: 5vw;
$paddingMenu: 2vh;
$paddingMainMenu: 6vh;

/*@mixin desktop {
	@media only screen and (min-width: ($mobileWidth + 1px)) {
		@content;
	}
}

@mixin mobile {
	@media only screen and (max-width: $mobileWidth) {
		@content;
	}
}*/

@mixin bodyLinks($color: $linkColor1, $hover: $linkColor2) {
	a:link,
	a:visited {
		color: $color;
		transition: color 0.3s ease;
	}

	a:hover {
		color: $hover;
	}
}

@mixin flexRow {
	display: flex;
}

@mixin flexColumn {
	display: flex;
	flex-direction: column;
}

@mixin flexRowAlign($x: center, $y: center) {
	@include flexRow;
	align-items: $y;
	justify-content: $x;
}

@mixin flexColumnAlign($x: center, $y: center) {
	@include flexColumn;
	align-items: $x;
	justify-content: $y;
}

@mixin fontMenus {
	font-family: $font2;
	font-size: $fontSize2;
}

@mixin gradientBackgroundImage($url, $vendor: "", $color1: transparent, $color2: black) {
	background: #{$vendor}linear-gradient($color1 0%, $color2 100%), url($url) no-repeat center center fixed;
}

@mixin menuLinks {
	@include bodyLinks;

	a {
		text-decoration: none;
	}
}

@mixin textShadow {
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	@include gradientBackgroundImage($bgUrl);
	@include gradientBackgroundImage($bgUrl, "-webkit-");
	@include gradientBackgroundImage($bgUrl, "-moz-");
	@include gradientBackgroundImage($bgUrl, "-o-");
	@include gradientBackgroundImage($bgUrl, "-ms-");
	background-size: cover;
}

main {
	@include bodyLinks;
	@include flexColumn;
	color: $textColor1;
	font-family: $font1;
	font-size: $fontSize1;
	height: 100vh;
	padding-left: $paddingContent;
	padding-right: calc(#{$flyoutClosedSize} * 1.1);
	vertical-align: middle;
	width: 100vw;
	word-wrap: break-word;

	header {
		@include menuLinks;
		@include flexColumnAlign(left, flex-end);
		@include textShadow;
		height: 57%;
		padding-bottom: 5px;
	}

	svg {
		height: 1em;
		padding: 0 0 0.1em 0;
		vertical-align: middle;
	}

	footer {
		@include flexColumnAlign(left, flex-start);
		bottom: 0;
		color: $textColor1;
		font-size: $fontSize4;
		flex-grow: 1;
		padding-top: 5px;
	}
}

#flyout {
	@include flexColumn;
	color: $textColor1;
	height: 100%;
	overflow-x: hidden;
	position: fixed;
	right: 0;
	transition: width $flyoutInterval ease-in-out;
	width: $flyoutClosedSize;

	#content {
		@include flexColumn;
		@include bodyLinks;
		font-family: $font3;
		font-size: $fontSize3;
		height: 100%;
		overflow-y: auto;

		blockquote {
			margin: -0.5em 0;
			padding-left: 1.25em;
			position: relative;

			&::before {
				border-left: 4px solid #a3a3a3;
				bottom: 1em;
				content: "";
				left: 0;
				position: absolute;
				top: 1em;
			}
		}

		h1, h2, h3, h4, h5, h6 {
			padding-bottom: 0.5em;
			padding-top: 0.75em;
		}

		hr {
			border: 1px solid #a3a3a3;
		}

		ol, ul {
			line-height: 2em;
			padding-left: 2em;
		}

		p {
			line-height: 2em;
			margin: 0.6em 0;
		}
	}

	#controls {
		@include menuLinks;
		@include textShadow;
		bottom: 0;
		display: none;
		//height: 0%;
		position: fixed;
		width: 100%;

		a {
			padding-left: $paddingControls;
			padding-right: $paddingControls;
		}

		#back {
			display: none;
		}

		#scroll-top {
			display: none;
		}

		.material-icons {
			font-size: $fontSizeIcons;
		}
	}

	&.open {
		width: 100%;

		#content {
			height: calc(100% - #{$flyoutControlsHeight});
			padding: $paddingContent;
		}

		#controls {
			@include flexRowAlign(flex-end);
			height: $flyoutControlsHeight;
			padding-right: $paddingContent;
		}
	}

	.menu {
		@include fontMenus;
		@include menuLinks;
		@include flexColumnAlign;
		@include textShadow;
		flex-grow: 1;
		line-height: 1em;
		text-align: center;

		a {
			padding-bottom: calc(#{$paddingMenu} / 2);
			padding-top: calc(#{$paddingMenu} / 2);
		}
	}

	.main-menu {
		@include fontMenus;

		a {
			padding-bottom: calc(#{$paddingMainMenu} / 2);
			padding-top: calc(#{$paddingMainMenu} / 2);
			width: 100%;
		}
	}
}

.a11y {
	//color: yellow !important;
	font-family: $fontA11y !important;
}

.acrylic {
	backdrop-filter: blur(15px) saturate(180%);
	background: rgba(31, 32, 40, 0.8);
	opacity: 1;
}
